@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
*{
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button:hover{
  opacity: 0.8;
}
li:hover{
  color: var(--theme-accent);
}
:root {
  /* Light mode colors */
  --theme-bg: #FFFFFF;
  --theme-text: #1F2937;
  --theme-accent: #F59E0B;
  
  /* Dark mode colors */
  --theme-dark-bg: #4B5563;
  --theme-dark-text: #E5E7EB;
}

/* Dark mode variants */
.dark {
  --theme-bg: var(--theme-dark-bg);
  --theme-text: var(--theme-dark-text);
}

/* Custom utility classes */
.bg-theme-bg { background-color: var(--theme-bg); }
.bg-theme-accent { background-color: var(--theme-accent); }
.text-theme-text { color: var(--theme-text); }

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
